              
<div class="app">
           <header>
            {{> header}}
           </header>
           {{!-- nội dung ở đây --}}
            <div class="container">
                
                <h1>page news</h1>
            </div>
             <footer>
                {{> footer}}
             </footer>
        </div>
      

